.image-card-list {
    padding: 1px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $border-color-light;
    &.no-bottom-border {
        border-bottom: 0;
    }
}

.image-peer-list {
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
    width: 16rem;
    z-index: 11;
}

.image-card-list-title {
    display: flex;
    align-items: center;
    padding-bottom: 0.675rem;
    .title-text {
        font-size: $font-size-default;
        font-weight: bold;
    }
    .title-number {
        margin: 0 0.5rem;
        padding: 0.1rem 0.875rem;
        background: $theme-color;
        color: $color-white;
        font-size: $font-size-small;
        border-radius: $border-radius;
    }
}

.image-card-list-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem -0.625rem/2 1.625rem;
    .image-card-wrap {
        margin: 0 0.625rem/2;
        &.type-5 {
            width: calc(12.5% - 0.625rem);
        }
        &.type-peer {
            width: calc(50% - 0.625rem);
            box-shadow: 0 0 5px #000000;
            background-color: rgba(0, 0, 0, .4);
        }
    }
}

.list-type-2 .image-card-list-wrap {
    border: 1px solid $border-color-light;
    margin-right: 2.5rem;
    .image-card-list-box {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        background: $background-color-default;
        font-size: 0;
        z-index: 2;
        .image-card-wrap {
            display: inline-block;
            margin-bottom: 0;
            width: calc(16.666% - 0.5208rem);
            border: none;
            box-shadow: none;
            &:nth-child(6n) {
                margin-right: 0;
            }
        }
    }
    .image-card-list-more {
        position: absolute;
        right: -2.5rem;
        display: flex;
        height: 80%;
        cursor: pointer;
    }
}

.list-type-3 {
    @include clearfix(false);
    margin-right: -1.25rem;
    border-bottom: 0;
    .image-card-item {
        float: left;
        width: calc(12.5% - 1.25rem);
        margin: 1.25rem 1.25rem 0 0;
        border: 1px solid transparent;
    }
}

.list-type-4 {
    @include clearfix(false);
    margin-right: -.25rem;
    margin-bottom: 0;
    border-bottom: 0;
    .image-card-item {
        float: left;
        width: calc(16.66% - .205rem);
        margin: .75rem .25rem 0 0;
        border: 1px solid transparent;
    }
}

.list-type-5 {
    @include clearfix(false);
    margin-right: -1.25rem;
    border-bottom: 0;
    .image-card-item {
        float: left;
        width: calc(10% - 1.25rem);
        margin: 1.25rem 1.25rem 0 0;
    }
}

.image-card-list .icon-drop-up,
.image-info-list .icon-drop-up {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    margin: .5rem 0 0 -.75rem;
    transform: rotate(180deg);
    .aui-icon-drop-down {
        font-size: $font-size-large;
        color: #44566e;
    }
}

.list-type-6 {
    @include clearfix(false);
    margin-right: -1.25rem;
    border-bottom: 0;
    .image-card-item {
        float: left;
        width: calc(8.333% - 1.25rem); // width: 95px !important;
        margin: 0 0 0 1.25rem;
        font-size: $font-size-default;
        .image-card-title {
            font-size: $font-size-small;
        }
    }
    .image-card-item.new {
        width: calc(12.5% - 1.25rem);
    }
    .image-card-outer {
        overflow: hidden;
    }
    .image-card-number {
        width: 2.75rem;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        text-align: center;
        color: #8FC7F8;
        background: rgba(21, 25, 53, .8); // background: rgba($color-black, .3);
    }
    .image-card-text {
        width: calc(100% - 2.75rem);
        text-align: center; // text-align: right;
        padding: 0 $space*.6;
    }
}

.list-type-6.new {
    .image-card-item {
        width: calc(12.5% - 1.25rem);
    }
}

.image-card-item .icon-drop-up,
.image-info-item .icon-drop-up {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    margin: .55rem 0 0 -.75rem;
    transform: rotate(180deg);
    .aui-icon-drop-down {
        font-size: $font-size-large;
        color: #44566e;
    }
}

.active.image-card-item .icon-drop-up {
    display: block;
}